@header-background-color: rgba(0, 0, 0, 0.7);
@header-border-color: rgba(255, 255, 255, 0.25);
@base-font-color: white;
@article-font-color: black;

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: 'Arial', sans-serif;
  color: @base-font-color;
}

body {
  background: url('/img/bg.jpg') top right no-repeat fixed;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

#header, #footer {
  background-color: @header-background-color;
}

#header {
  border-bottom: 1px solid @header-border-color;
}

#nav {
  text-align: center;
  font-size: 0;
  li {
    padding-bottom: 0.25rem;
    padding-top: 0.5rem;
    a {
      font-size: 1.1rem;
      text-transform: uppercase;
      text-decoration: none;
      color: @base-font-color;
    }
  }
  .submenu {
    display: none;
    a {
      text-transform: lowercase;
      position: relative;
      &:hover::before {
        font-family: FontAwesome;
        content: "\f105"; /* .fa-angle-right */
        position: absolute;
        left: -0.75rem;
      }
    }
  }
  .parent {
    > a::after {
      font-family: FontAwesome;
      content: "\f107"; /* .fa-angle-down */
      margin-left: 0.3rem;
    }
    &:hover .submenu {
      display: block;
    }
  }
}

.posts {
  article {
    background-color: @base-font-color;
    padding: 1rem;
    border-radius: 0.5rem;
    color: @article-font-color;
    margin: 1rem;
  }
  .art-content figure img {
    max-width: 100%;
    height: auto;
  }
}

@media all and (min-width: 768px) {
  #nav {
    li {
      display: inline-block;
      padding: 1rem;
    }
    > ul > li + li {
      border-left: 1px solid @header-border-color;
    }
    .parent:hover {
      position: relative;
      .submenu {
        display: block;
        position: absolute;
        left: 0;
        top: 3.1rem;
        background-color: @header-background-color;
        li {
          padding-left: 1rem;
          padding-right: 1rem;
        }
      }
    }
  }
}
