*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: 'Arial', sans-serif;
}

body {
  background: url('/img/bg.jpg') top right no-repeat fixed;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

.posts .art-content figure img {
  max-width: 100%;
  height: auto;
}

#header, #footer {
  background-color: rgba(0, 0, 0, 0.7);
}

#header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
