*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: 'Arial', sans-serif;
  color: white;
}

body {
  background: url('/img/bg.jpg') top right no-repeat fixed;
}

h1, h2, h3, h4, h5 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

.posts .art-content figure img {
  max-width: 100%;
  height: auto;
}

#header, #footer {
  background-color: rgba(0, 0, 0, 0.7);
}

#header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#nav {
  text-align: center;
}

#nav li a {
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

#nav li {
  padding-bottom: 0.25rem;
  padding-top: 0.5rem;
}

#nav .submenu {
  display: none;
}

#nav .parent > a::after {
  font-family: FontAwesome;
  content: "\f107"; /* .fa-angle-down */
  margin-left: 0.3rem;
}

#nav .submenu a {
  text-transform: lowercase;
  position: relative;
}

#nav .submenu a:hover::before {
  font-family: FontAwesome;
  content:"\f105"; /* .fa-angle-right */
  position: absolute;
  left: -0.75rem;
}

#nav .parent:hover .submenu {
  display: block;
}
